@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    ---like-text800: #ff3232;
    ---like-text900: #ef1111;
    ---link-text: #3944af;
    ---paper-text: black;
    ---particle-color: #718096;
    ---primary-text800: #4b5563;
    ---primary-text900: #363535;
    ---primary-text950: #505050;
    ---primary100: #c2b396;
    ---primary200: #d7c4a9;
    ---primary300: #f5deb3;
    ---primary400: #ffebcb;
    ---primary500: #fff0d7;
    ---primary700: #f0ba7e;
    ---primary800: #fdba74;
    ---primary900: #ffaf5c;
    ---primary950: #ffb465;
    ---input-bg: #ffcb94;
    ---input-color: #4b4b4b;
    ---placeholder: #877d73;
    ---transparent-bg: rgba(255, 240, 215, 0.7);
    ---telegram-text: #0088cc;
    ---instagram-text: #bc2a8d;
    ---linkedin-text: #0077b5;
    ---email-text: #ff243d;
    ---github-text: "#303030";
    --tw-prose-body: #4b5563 !important;
    --tw-prose-headings: #363535 !important;
  }
  .dark {
    ---like-text800: #ff6f6f;
    ---like-text900: #c14e4e;
    ---link-text: #7a9bf9;
    ---paper-text: white;
    ---particle-color: #cbd5e0;
    ---primary-text800: #abb7c8;
    ---primary-text900: #e2e8f0;
    ---primary-text950: #cfd9e8;
    ---primary100: #1e1f22;
    ---primary200: #313338;
    ---primary300: #2b2d31;
    ---primary400: #505765;
    ---primary500: #3d434e;
    ---primary700: #272c33;
    ---primary800: #282c34;
    ---primary900: #262a31;
    ---primary950: #20232a;
    ---input-bg: #6e7687;
    ---input-color: #ecf0f5;
    ---placeholder: #939faf;
    ---transparent-bg: rgba(0, 0, 0, 0.7);
    ---telegram-text: #3db0ff;
    ---instagram-text: #e476c1;
    ---linkedin-text: #2f9fdb;
    ---email-text: #fc6a7b;
    ---github-text: "#303030";
    ---testOpacity: 1;
    ---test: rgba(74, 222, 128, var(---testOpacity));
    --tw-prose-body: #abb7c8 !important;
    --tw-prose-headings: #cfd9e8 !important;
  }
  .google {
    ---primary800: #b81919;
    ---primary900: #981414;
    ---primary950: #711010;
    ---primary-text800: #dcdada;
  }
  .github {
    ---primary800: #303030;
    ---primary900: #1e1e1e;
    ---primary950: #101010;
    ---primary-text800: #dcdada;
  }
  .info {
    ---primary-text800: #cfddf1;
    ---primary300: #3d6ab0;
    ---primary800: #26436e;
    ---primary900: #254578;
    ---primary950: #203a66;
  }
  .info_dark {
    ---primary-text800: #cfddf1;
    ---primary300: #263853;
    ---primary800: #192537;
    ---primary900: #2b4163;
    ---primary950: #263a58;
  }
  .success {
    ---primary-text800: #cdede3;
    ---primary300: #39a84a;
    ---primary800: #266e44;
    ---primary900: #257850;
    ---primary950: #20662d;
  }
  .success_dark {
    ---primary-text800: #cdede3;
    ---primary300: #265336;
    ---primary800: #193726;
    ---primary900: #2b633e;
    ---primary950: #26584c;
  }
  .error {
    ---primary-text800: #edcdcd;
    ---primary300: #a83939;
    ---primary800: #6e2626;
    ---primary900: #782525;
    ---primary950: #662020;
  }
  .error_dark {
    ---primary-text800: #edcdcd;
    ---primary300: #532626;
    ---primary800: #371919;
    ---primary900: #632b2b;
    ---primary950: #582626;
  }
  .warning {
    ---primary-text800: #7a7d2a;
    ---primary300: #ffff69;
    ---primary800: #bcbc3e;
    ---primary900: #a9a93a;
    ---primary950: #a1a138;
  }
  .warning_dark {
    ---primary-text800: #edcdcd;
    ---primary300: #4e5326;
    ---primary800: #353719;
    ---primary900: #5d632b;
    ---primary950: #565826;
  }
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: Vazirmatn, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  text-transform: none !important;
}

body {
  padding: 0 !important;
  margin: 0 !important;
}
